@font-face {
  font-family: "Cinzel-Black"; /*Can be any text*/
  src: url("./assets/fonts/CinzelDecorative-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel-Bold"; /*Can be any text*/
  src: url("./assets/fonts/CinzelDecorative-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel-Regular"; /*Can be any text*/
  src: url("./assets/fonts/CinzelDecorative-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DidactGothic-Regular"; /*Can be any text*/
  src: url("./assets/fonts/DidactGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans"; /*Can be any text*/
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf")
    format("truetype");
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  width: inherit;
  height: inherit;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}
